<div>
  <h2 id="page-heading" data-cy="HistModifDemandeHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.histModifDemande.home.title">Hist Modif Demandes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.histModifDemande.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-hist-modif-demande"
        [routerLink]="['/hist-modif-demande/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.histModifDemande.home.createLabel">Create a new Hist Modif Demande</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (histModifDemandes?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="jhipsterSampleApplicationApp.histModifDemande.home.notFound">No Hist Modif Demandes found</span>
    </div>
  }

  @if (histModifDemandes && histModifDemandes.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateModification">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSampleApplicationApp.histModifDemande.dateModification">Date Modification</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="typeModification">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSampleApplicationApp.histModifDemande.typeModification">Type Modification</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="detailsModifications">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSampleApplicationApp.histModifDemande.detailsModifications">Details Modifications</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="demande.id">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSampleApplicationApp.histModifDemande.demande">Demande</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (histModifDemande of histModifDemandes; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/hist-modif-demande', histModifDemande.id, 'view']">{{ histModifDemande.id }}</a>
              </td>
              <td>{{ histModifDemande.dateModification | formatMediumDatetime }}</td>
              <td>{{ histModifDemande.typeModification }}</td>
              <td>{{ histModifDemande.detailsModifications }}</td>
              <td>
                @if (histModifDemande.demande) {
                  <div>
                    <a [routerLink]="['/demande', histModifDemande.demande.id, 'view']">{{ histModifDemande.demande.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/hist-modif-demande', histModifDemande.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/hist-modif-demande', histModifDemande.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(histModifDemande)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
