<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (parametrage) {
      <div>
        <h2 data-cy="parametrageDetailsHeading">
          <span jhiTranslate="jhipsterSampleApplicationApp.parametrage.detail.title">Parametrage</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ parametrage.id }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterSampleApplicationApp.parametrage.garantie">Garantie</span></dt>
          <dd>
            @if (parametrage.garantie) {
              <div>
                <a [routerLink]="['/garantie', parametrage.garantie.id, 'view']">{{ parametrage.garantie.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="jhipsterSampleApplicationApp.parametrage.demande">Demande</span></dt>
          <dd>
            @if (parametrage.demande) {
              <div>
                <a [routerLink]="['/demande', parametrage.demande.id, 'view']">{{ parametrage.demande.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="jhipsterSampleApplicationApp.parametrage.conformite">Conformite</span></dt>
          <dd>
            @if (parametrage.conformite) {
              <div>
                <a [routerLink]="['/conformite', parametrage.conformite.id, 'view']">{{ parametrage.conformite.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/parametrage', parametrage.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
