<div>
  <h2 id="page-heading" data-cy="TarifCommercantHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.tarifCommercant.home.title">Tarif Commercants</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.tarifCommercant.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tarif-commercant"
        [routerLink]="['/tarif-commercant/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.tarifCommercant.home.createLabel">Create a new Tarif Commercant</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (tarifCommercants?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="jhipsterSampleApplicationApp.tarifCommercant.home.notFound">No Tarif Commercants found</span>
    </div>
  }

  @if (tarifCommercants && tarifCommercants.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="typeCommission">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSampleApplicationApp.tarifCommercant.typeCommission">Type Commission</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tarif.id">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSampleApplicationApp.tarifCommercant.tarif">Tarif</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="parametrage.id">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSampleApplicationApp.tarifCommercant.parametrage">Parametrage</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (tarifCommercant of tarifCommercants; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/tarif-commercant', tarifCommercant.id, 'view']">{{ tarifCommercant.id }}</a>
              </td>
              <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.TypeCommissionCommercant.' + tarifCommercant.typeCommission }}">
                {{ tarifCommercant.typeCommission }}
              </td>
              <td>
                @if (tarifCommercant.tarif) {
                  <div>
                    <a [routerLink]="['/tarif', tarifCommercant.tarif.id, 'view']">{{ tarifCommercant.tarif.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (tarifCommercant.parametrage) {
                  <div>
                    <a [routerLink]="['/parametrage', tarifCommercant.parametrage.id, 'view']">{{ tarifCommercant.parametrage.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/tarif-commercant', tarifCommercant.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/tarif-commercant', tarifCommercant.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(tarifCommercant)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
