<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-autre-frais-heading"
        data-cy="AutreFraisCreateUpdateHeading"
        jhiTranslate="jhipsterSampleApplicationApp.autreFrais.home.createOrEditLabel"
      >
        Create or edit a Autre Frais
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.autreFrais.domaineFrais" for="field_domaineFrais"
            >Domaine Frais</label
          >
          <select class="form-control" name="domaineFrais" formControlName="domaineFrais" id="field_domaineFrais" data-cy="domaineFrais">
            <option [ngValue]="null">{{ 'jhipsterSampleApplicationApp.DomaineFrais.null' | translate }}</option>
            @for (domaineFrais of domaineFraisValues; track $index) {
              <option [value]="domaineFrais">{{ 'jhipsterSampleApplicationApp.DomaineFrais.' + domaineFrais | translate }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
