<div>
  <h2 id="page-heading" data-cy="TarifHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.tarif.home.title">Tarifs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.tarif.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tarif"
        [routerLink]="['/tarif/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.tarif.home.createLabel">Create a new Tarif</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (tarifs?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="jhipsterSampleApplicationApp.tarif.home.notFound">No Tarifs found</span>
    </div>
  }

  @if (tarifs && tarifs.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tarifParDefaut">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSampleApplicationApp.tarif.tarifParDefaut">Tarif Par Defaut</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tarifMinimum">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSampleApplicationApp.tarif.tarifMinimum">Tarif Minimum</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tarifMaximum">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSampleApplicationApp.tarif.tarifMaximum">Tarif Maximum</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="unite">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSampleApplicationApp.tarif.unite">Unite</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (tarif of tarifs; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/tarif', tarif.id, 'view']">{{ tarif.id }}</a>
              </td>
              <td>{{ tarif.tarifParDefaut }}</td>
              <td>{{ tarif.tarifMinimum }}</td>
              <td>{{ tarif.tarifMaximum }}</td>
              <td>{{ tarif.unite }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/tarif', tarif.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/tarif', tarif.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(tarif)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
