<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (referentielCR) {
      <div>
        <h2 data-cy="referentielCRDetailsHeading">
          <span jhiTranslate="jhipsterSampleApplicationApp.referentielCR.detail.title">Referentiel CR</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ referentielCR.id }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterSampleApplicationApp.referentielCR.nomCR">Nom CR</span></dt>
          <dd>
            <span>{{ referentielCR.nomCR }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterSampleApplicationApp.referentielCR.numeroCR">Numero CR</span></dt>
          <dd>
            <span>{{ referentielCR.numeroCR }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterSampleApplicationApp.referentielCR.cr">Cr</span></dt>
          <dd>
            @if (referentielCR.cr) {
              <div>
                <a [routerLink]="['/cr', referentielCR.cr.id, 'view']">{{ referentielCR.cr.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/referentiel-cr', referentielCR.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
