<div>
  <h2 id="page-heading" data-cy="ReferenceOptionProduitCommercesHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.referenceOptionProduitCommerces.home.title">Reference Option Produit Commerces</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.referenceOptionProduitCommerces.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-reference-option-produit-commerces"
        [routerLink]="['/reference-option-produit-commerces/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.referenceOptionProduitCommerces.home.createLabel"
          >Create a new Reference Option Produit Commerces</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (referenceOptionProduitCommerces?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="jhipsterSampleApplicationApp.referenceOptionProduitCommerces.home.notFound"
        >No Reference Option Produit Commerces found</span
      >
    </div>
  }

  @if (referenceOptionProduitCommerces && referenceOptionProduitCommerces.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="codeOptionProduit">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSampleApplicationApp.referenceOptionProduitCommerces.codeOptionProduit"
                  >Code Option Produit</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="libelleOptionProduit">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSampleApplicationApp.referenceOptionProduitCommerces.libelleOptionProduit"
                  >Libelle Option Produit</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (referenceOptionProduitCommerces of referenceOptionProduitCommerces; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/reference-option-produit-commerces', referenceOptionProduitCommerces.id, 'view']">{{
                  referenceOptionProduitCommerces.id
                }}</a>
              </td>
              <td>{{ referenceOptionProduitCommerces.codeOptionProduit }}</td>
              <td>{{ referenceOptionProduitCommerces.libelleOptionProduit }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/reference-option-produit-commerces', referenceOptionProduitCommerces.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/reference-option-produit-commerces', referenceOptionProduitCommerces.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(referenceOptionProduitCommerces)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
