<div>
  <h2 id="page-heading" data-cy="ReferentielCRHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.referentielCR.home.title">Referentiel CRS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.referentielCR.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-referentiel-cr"
        [routerLink]="['/referentiel-cr/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.referentielCR.home.createLabel">Create a new Referentiel CR</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (referentielCRS?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="jhipsterSampleApplicationApp.referentielCR.home.notFound">No Referentiel CRS found</span>
    </div>
  }

  @if (referentielCRS && referentielCRS.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nomCR">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSampleApplicationApp.referentielCR.nomCR">Nom CR</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="numeroCR">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSampleApplicationApp.referentielCR.numeroCR">Numero CR</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cr.id">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSampleApplicationApp.referentielCR.cr">Cr</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (referentielCR of referentielCRS; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/referentiel-cr', referentielCR.id, 'view']">{{ referentielCR.id }}</a>
              </td>
              <td>{{ referentielCR.nomCR }}</td>
              <td>{{ referentielCR.numeroCR }}</td>
              <td>
                @if (referentielCR.cr) {
                  <div>
                    <a [routerLink]="['/cr', referentielCR.cr.id, 'view']">{{ referentielCR.cr.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/referentiel-cr', referentielCR.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/referentiel-cr', referentielCR.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(referentielCR)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
