<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (tarifCommercant) {
      <div>
        <h2 data-cy="tarifCommercantDetailsHeading">
          <span jhiTranslate="jhipsterSampleApplicationApp.tarifCommercant.detail.title">Tarif Commercant</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ tarifCommercant.id }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterSampleApplicationApp.tarifCommercant.typeCommission">Type Commission</span></dt>
          <dd>
            <span jhiTranslate="{{ 'jhipsterSampleApplicationApp.TypeCommissionCommercant.' + tarifCommercant.typeCommission }}">{{
              tarifCommercant.typeCommission
            }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterSampleApplicationApp.tarifCommercant.tarif">Tarif</span></dt>
          <dd>
            @if (tarifCommercant.tarif) {
              <div>
                <a [routerLink]="['/tarif', tarifCommercant.tarif.id, 'view']">{{ tarifCommercant.tarif.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="jhipsterSampleApplicationApp.tarifCommercant.parametrage">Parametrage</span></dt>
          <dd>
            @if (tarifCommercant.parametrage) {
              <div>
                <a [routerLink]="['/parametrage', tarifCommercant.parametrage.id, 'view']">{{ tarifCommercant.parametrage.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/tarif-commercant', tarifCommercant.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
