<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (offreProduit) {
      <div>
        <h2 data-cy="offreProduitDetailsHeading">
          <span jhiTranslate="jhipsterSampleApplicationApp.offreProduit.detail.title">Offre Produit</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ offreProduit.id }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterSampleApplicationApp.offreProduit.activeProd">Active Prod</span></dt>
          <dd>
            <span>{{ offreProduit.activeProd }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterSampleApplicationApp.offreProduit.activeNEHOM">Active NEHOM</span></dt>
          <dd>
            <span>{{ offreProduit.activeNEHOM }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterSampleApplicationApp.offreProduit.activeVMOA">Active VMOA</span></dt>
          <dd>
            <span>{{ offreProduit.activeVMOA }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterSampleApplicationApp.offreProduit.activeDEVTU">Active DEVTU</span></dt>
          <dd>
            <span>{{ offreProduit.activeDEVTU }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterSampleApplicationApp.offreProduit.parametrage">Parametrage</span></dt>
          <dd>
            @if (offreProduit.parametrage) {
              <div>
                <a [routerLink]="['/parametrage', offreProduit.parametrage.id, 'view']">{{ offreProduit.parametrage.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="jhipsterSampleApplicationApp.offreProduit.offre">Offre</span></dt>
          <dd>
            @for (offre of offreProduit.offres; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/offre', offre.id, 'view']">{{ offre.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
          <dt><span jhiTranslate="jhipsterSampleApplicationApp.offreProduit.produit">Produit</span></dt>
          <dd>
            @for (produit of offreProduit.produits; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/produit', produit.id, 'view']">{{ produit.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/offre-produit', offreProduit.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
