<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-demande-heading"
        data-cy="DemandeCreateUpdateHeading"
        jhiTranslate="jhipsterSampleApplicationApp.demande.home.createOrEditLabel"
      >
        Create or edit a Demande
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.demande.dateDemande" for="field_dateDemande"
            >Date Demande</label
          >
          <div class="d-flex">
            <input
              id="field_dateDemande"
              data-cy="dateDemande"
              type="datetime-local"
              class="form-control"
              name="dateDemande"
              formControlName="dateDemande"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.demande.validiation" for="field_validiation"
            >Validiation</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="validiation"
            id="field_validiation"
            data-cy="validiation"
            formControlName="validiation"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.demande.parametrage" for="field_parametrage"
            >Parametrage</label
          >
          <select
            class="form-control"
            id="field_parametrage"
            data-cy="parametrage"
            name="parametrage"
            formControlName="parametrage"
            [compareWith]="compareParametrage"
          >
            <option [ngValue]="null"></option>
            @for (parametrageOption of parametragesSharedCollection; track $index) {
              <option [ngValue]="parametrageOption">{{ parametrageOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
