<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-tarif-heading"
        data-cy="TarifCreateUpdateHeading"
        jhiTranslate="jhipsterSampleApplicationApp.tarif.home.createOrEditLabel"
      >
        Create or edit a Tarif
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.tarif.tarifParDefaut" for="field_tarifParDefaut"
            >Tarif Par Defaut</label
          >
          <input
            type="text"
            class="form-control"
            name="tarifParDefaut"
            id="field_tarifParDefaut"
            data-cy="tarifParDefaut"
            formControlName="tarifParDefaut"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.tarif.tarifMinimum" for="field_tarifMinimum"
            >Tarif Minimum</label
          >
          <input
            type="text"
            class="form-control"
            name="tarifMinimum"
            id="field_tarifMinimum"
            data-cy="tarifMinimum"
            formControlName="tarifMinimum"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.tarif.tarifMaximum" for="field_tarifMaximum"
            >Tarif Maximum</label
          >
          <input
            type="text"
            class="form-control"
            name="tarifMaximum"
            id="field_tarifMaximum"
            data-cy="tarifMaximum"
            formControlName="tarifMaximum"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.tarif.unite" for="field_unite">Unite</label>
          <input type="text" class="form-control" name="unite" id="field_unite" data-cy="unite" formControlName="unite" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
