<div>
  <h2 id="page-heading" data-cy="ConformiteHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.conformite.home.title">Conformites</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.conformite.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-conformite"
        [routerLink]="['/conformite/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.conformite.home.createLabel">Create a new Conformite</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (conformites?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="jhipsterSampleApplicationApp.conformite.home.notFound">No Conformites found</span>
    </div>
  }

  @if (conformites && conformites.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="affichage">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSampleApplicationApp.conformite.affichage">Affichage</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lienBonita">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSampleApplicationApp.conformite.lienBonita">Lien Bonita</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="parametrage.id">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSampleApplicationApp.conformite.parametrage">Parametrage</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (conformite of conformites; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/conformite', conformite.id, 'view']">{{ conformite.id }}</a>
              </td>
              <td>{{ conformite.affichage }}</td>
              <td>{{ conformite.lienBonita }}</td>
              <td>
                @if (conformite.parametrage) {
                  <div>
                    <a [routerLink]="['/parametrage', conformite.parametrage.id, 'view']">{{ conformite.parametrage.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/conformite', conformite.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/conformite', conformite.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(conformite)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
